<div class="formText formFade">
	<p class="formHeader Gray">Add or edit your homepage content below!</p><br /><br />
	<div class="form">	
		<%= form_for(@homepost) do |f| %>
			<%= f.label :Upload_right_image, class: 'formFieldT2' %>
    		<%= f.file_field :rightimage, class: 'formFieldT3'  %><br /><br />
			<%= f.label :Upload_latest_image, class: 'formFieldT2' %>
    		<%= f.file_field :latestimage, class: 'formFieldT3'  %><br /><br />
			<%= f.label :Tab_1_title, class: 'formFieldT2' %>
    		<%= f.text_field :title1, class: 'formFieldT2'  %><br /><br />
			<%= f.label :Tab_1_content, class: 'formFieldT2' %>
    		<%= f.text_field :url1, class: 'formFieldt2T2'  %><br /><br />
			<%= f.label :Tab_2_title, class: 'formFieldT2' %>
    		<%= f.text_field :title2, class: 'formFieldT2'  %><br /><br />
			<%= f.label :Tab_2_content, class: 'formFieldT2' %>
    		<%= f.text_field :url2, class: 'formFieldT2'  %><br /><br />
			<%= f.label :Tab_3_title, class: 'formFieldT2' %>
    		<%= f.text_field :title3, class: 'formFieldT2'  %><br /><br />
			<%= f.label :Tab_3_content, class: 'formFieldT2' %>
    		<%= f.text_field :url3, class: 'formFieldT2'  %><br /><br />
    		<%= f.submit %>
		<% end %>
	</div>
</div>

<div class="mainContent">

	<ul id="overview" class="container">
		<div class="block clearfix six columns offset-by-three height">
			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		  		
				<div class="form-field">
					<%= f.label :email %>
		  			<%= f.email_field :email, :autofocus => true, id: 'email' %><br />
				</div>
				<div class="form-field">
		  			<%= f.label :password %>
		  			<%= f.password_field :password, class: 'name' %><br /><br />

		  		<div class="form-click"><%= f.submit "Sign in", :id => "submit" %></div>
			<% end %>
		</div>
	</ul>
		
</div>