<div class="container mainContent twelve columns">

	<ul id="overview" class="container">
		<div class="block clearfix six columns offset-by-three height">
			<h3 class="title">Change your password</h3>
			<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
				<%= devise_error_messages! %>
				<%= f.hidden_field :reset_password_token %>
		  		
				<div class="form-field">
					<%= f.label :password, "New password" %>
		  			<%= f.password_field :password, :autofocus => true, :class => "name" %>
				</div>
				<div class="form-field">
		  			<%= f.label :password_confirmation, "Confirm new password" %>
					  <%= f.password_field :password_confirmation, :class => "name" %>

		  		<div class="form-click"><%= f.submit "Change my password" %></div>
				<%= render "devise/shared/links" %>
			<% end %>
		</div>
	</ul>
		
</div>
