<div id="intro" class="container twelve columns ten">

	<!-- Heading -->
	<div id="title" class="introText six columns">
		<strong>Hello.</strong> My name is Ed Hamilton. I release <span class="linkOrange"><%= link_to 'music', 'http://edhamilton.bandcamp.com/', :target => "_blank" %></span> on 
		<span class="labelsLink"><%= link_to 'Hibernate', 'http://hibernate-recs.co.uk/', :target => '_blank' %></span> &amp; <span class="labelsLink"><%= link_to 'Futuresequence', 'http://futuresequence.com/', :target => "_blank" %>.
		<br />I also take <span class="linkOrange"><%= link_to 'photographs', 'http://www.flickr.com/photos/edhamilton', :target => '_blank' %></span> &amp; <span class="linkOrange"><%= link_to 'build websites', 'http://eghamilton.org', :target => '_blank' %></span>
		<%= link_to image_tag('readmore.png'), root_path %>
		<div style="padding-top:15px;">
			<% if user_signed_in? %>
				<%= link_to image_tag('edit2.png'), edit_homepost_path(1), :class => "" %>
			<% end %>
		</div>
	</div>
	<div class="homePhoto five columns offset-by-one">
		<%= image_tag(@homepost.rightimage(:thumb)) rescue nil %>
	</div>

</div><!-- END CONTAINER -->

<div class="mainContent">

	<!-- Overview -->
	<ul id="overview" class="container">
		<li class="five columns">
			<div class="block clearfix">
				<span class="icon"><%= image_tag('musicIcon.png') %></span>
				<h3 class="title">Music</h3>
				<p class="description"></p>
				<div id="tabs">
					<ul>
						<li><a href="#tab-1"><%= @homepost.title1 rescue nil %></span></a></li>
						<li><a href="#tab-2"><%= @homepost.title2 rescue nil %></span></a></li>
						<li><a href="#tab-3"><%= @homepost.title3 rescue nil %></span></a></li>
					</ul>
					<div id="tab-1"><%= @homepost.url1.html_safe rescue nil %></div>
					<div id="tab-2"><%= @homepost.url2.html_safe rescue nil %></div>
					<div id="tab-3"><%= @homepost.url3.html_safe rescue nil %></div>
				</div>
			</div>	
		</li>
		<li class="four columns">
			<div class="block clearfix height">
				<span class="icon"><%= image_tag('cameraIcon.png') %></span>
				<h3 class="title">Latest Photographs</h3>
				<p class="description upTen"><%= @homepost.latestimage_updated_at.to_s(:due_date) %></p>
				<span class="homePhotoSmall"><%= link_to image_tag(@homepost.latestimage(:thumb)), photographs_path rescue nil %></span>
			</div>	
		</li>
		<li class="three columns">
			<div class="block clearfix height">
				<span class="icon"><%= image_tag('tweetsIcon.png') %></span>
				<h3 class="title">Tweets</h3>
				<p class="description"></p><br />
				<a class="twitter-timeline" height="334" data-chrome="noheader noborders nofooter" href="https://twitter.com/edhamilton812" data-widget-id="433557009514786816">Loading Tweets...</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>	
		</li>
	</ul><!-- END CONATINER -->

</div>