<div class="mainContent">

	<ul id="overview" class="container">
		<div class="block two columns marginator">
			<h3 class="title">Sign in</h3>
		</div>
		<div class="block clearfix six columns offset-by-two height3">
			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		  		
				<div class="form-field">
					<%= f.label :email %>
		  			<%= f.email_field :email, :autofocus => true, class: 'email text-area' %><br />
				</div>
				<div class="form-field">
		  			<%= f.label :password %>
		  			<%= f.password_field :password, class: 'name text-area' %><br /><br />
				</div>

		  		<div class="form-click"><%= f.submit "Sign in", :id => "submit" %></div>
			<% end %>
		</div>
	</ul>
		
</div>