<div id="intro" class="container twelve columns ten">

	<div id="title" class="releaseReview six columns">
		<%= image_tag('open-quote.png') %><%= @release.review %> - <span class="smallItalic"><%= @release.review_source %></span>
	</div>
	<div class="homePhoto five columns offset-by-one">
		<%= image_tag(@release.rightimage(:thumb)) rescue nil %>
	</div>

</div>

<div class="mainContent">

	<ul id="overview" class="container">
		<li class="three columns">
			<div class="block clearfix height2">
				<h3 class="title releaseTitle"><%= @release.title %></h3>
				<p class="description"></p>
				<%= image_tag(@release.packshot.url(:thumb), :class => "packshot" ) %><br/><br/>
				<div class="releaseInfo"><%= @release.releaseinfo %></div>
				<div class="releaseBuy"><%= link_to image_tag('buy.png'), @release.buylink %></div>
				</p>
			</div>	
		</li>
		<li class="five columns">
			<div class="block clearfix height">
				<p class="releaseDescription"><%= @release.description %></p>
			</div>	
		</li>
		<li class="four columns">
			<div class="block clearfix height">
				<%= @release.url_html %></p>
			</div>	
		</li>
	</ul>
</div>

<% if user_signed_in? %>
	<%= link_to image_tag('edit2.png'), edit_release_path, :class => "edit" %>
<% end %>