<header class="container">

	<!-- Logo -->
	<div id="logo" class="three columns">
		<%= link_to image_tag('logo.png'), root_path %>
	</div>
	
	<div class="socialNavContainer">
		<div class="socialNavButtons">
			<%= link_to image_tag('fb.png'), 'https://www.facebook.com/ed.hamilton.10', :target => '_blank', :class => 'socialNavButton' %>
			<%= link_to image_tag("twitter.png"), 'https://twitter.com/edhamilton812', :target => '_blank', :class => 'socialNavButton' %>
			<%= link_to image_tag("soundcloud.png"), 'https://soundcloud.com/ed-hamilton', :target => '_blank', :class => 'socialNavButton' %>
		</div>
	</div>
	
	<% if user_signed_in? %>
		<div class="userInfo">
			{ Logged in as <strong><%= current_user.email %></strong>
			<span class="linkPink"><%= link_to 'Edit', edit_user_registration_path %></span>
			<span class="linkPink"><%= link_to 'Logout', destroy_user_session_path, method: :delete %></span> }
		</div>
	<% end %>
	
	<!-- Navigation -->
	<nav id="nav" class="nine columns">
		<ul id="navigation">
			<li class="drop">Music
				<ul class="dropdown clearfix">
					<!--<li><%#= link_to 'Arabesque', release_path(3) %></li>-->
					<li><%= link_to 'Sketches For Skomer', release_path(1) %></li>
					<li><%= link_to 'Behind The Clouds', release_path(2) %></li>
				</ul>
			</li>
			<li><%= link_to 'Photography', 'http://www.flickr.com/photos/edhamilton', :class => 'photosnav', :target => '_blank' %></li>
			<li><%= link_to 'Web Design', 'http://eghamilton.org', :class => 'designsnav', :target => '_blank' %></li>
			<li><%= link_to 'Contact', ('') %></li>
		</ul>
	</nav><!-- END NAVIGATION -->
</header><!-- END CONTAINER -->